@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />

<div class="index-container">
    <div class="text-center index-info">
        <h1 class="display-4">Bem-vindo</h1>
        <p>O Sistema de Licitações é uma plataforma avançada que simplifica e aprimora todo o processo de aquisição para organizações públicas e privadas. Permitindo desde o cadastro de editais até o recebimento de propostas de forma virtual, o sistema agrega eficiência operacional, transparência e conformidade legal. Com funcionalidades automatizadas, promove uma gestão mais ágil, reduzindo o tempo gasto em processos burocráticos e otimizando a alocação de recursos. Uma solução essencial para modernizar e aperfeiçoar o cenário das licitações, promovendo práticas mais eficazes e responsáveis.</a>.</p>
    </div>

    <div class="index-bg">
        <img src="~/images/index-bg.jpeg" />
    </div>
</div>